__pycache__/
*.egg
*.egg-info
*.spec
*.mo
*.pot
*.log
*.db
*.sqlite
*.db-journal
*.pyc
.pyo
.DS_Store
.env
.venv
.env.example
.dist
.build
.tox
.nox
.coverage
.cache
.nojekyll
.env.local
.env.development.local
.env.production.local
.env.test.local
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.egg-info
pytest_cache
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
local_settings.py
instance
.pytest_cache

yolov3-**
yolov3/cfg/
yolov3/data/
yolov3/weights/
yolov3/weights/yolov3spp.pt
Object Detection/coco.names
Object Detection/result.jpg
Object Detection/yolov3.cfg
